:root {
  --current-color: #b90470;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat/Montserrat-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: poppins;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.container-second {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.myButton {
  background-color: var(--current-color);
  color: #fff;
  padding: 10px 30px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px var(--current-color);
  border-radius: 4px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.myButton:hover {
  background-color: transparent;
  border: 1px solid var(--current-color);
  color: #000;
}

/* ************************************************************************************************** */

header {
  background-color: var(--current-color);
  display: flex;
  justify-content: space-between;
  color: #fff;
}

header .header_top {
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

header .header_top .left_side .phone_number,
header .header_top .right_side .socialMediaIcon {
  color: #fff;
}

header .header_top .left_side .phone_number {
  margin-right: 30px;
}

header .header_top .right_side .socialMediaIcon {
  margin-left: 20px;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/banner/banner.png");
  padding: 60px 0;
  background-position: center;
  background-size: cover;
}

main .banner .navbar {
  justify-content: space-between;
  background-color: #fff;
  height: 70px;
  padding: 0 50px;
  align-items: center;
}

main .banner .navigation .link {
  color: #000;
  margin-left: 20px;
}

main .banner .navigation .link:hover {
  border-bottom: 2px solid var(--current-color);
}

main .slogan {
  padding: 60px 0 0 0;
  color: #fff;
}

main .slogan .title {
  font-size: 64px;
  font-family: montserrat;
}

main .slogan .secont_title {
  margin: 20px 0;
}

main .slogan p {
  width: 58ch;
  text-align: justify;
}

.aboutButton {
  margin-top: 20px;
  display: block;
  width: fit-content;
}

.aboutButton:hover {
  color: #fff;
}
/* ************************************************************************** */

.aboutus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.aboutContentWrapper {
  display: flex;
  padding: 100px 0;
  justify-content: space-between;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.aboutus .aboutUs p {
  color: #b90470;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 300;
}

.aboutus .aboutUs h3 {
  color: #343a3e;
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 600;
}

.aboutus .aboutsUsText {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 50%;
  margin-top: 50px;
}

.aboutus .aboutContentWrapper .aboutsUsText p {
  color: #343a3e;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 300;
  padding-right: 80px;
}

/* ************************************************************************** */

.tir_img img {
  width: 100%;
}

.tir-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  text-align: center;
}

.tir-text p {
  color: #343a3e;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 300;
}

.tir-text .second-text {
  margin-top: 20px;
  margin-bottom: 150px;
}

.services-wrapper .services {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-wrapper .services p {
  color: #b90470;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 300;
}

.services-wrapper .services h3 {
  color: #343a3e;
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 600;
}

.imgbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.services-wrapper .imgbox .box img {
  width: 100%;
}

.services-wrapper .imgbox .box h5,
.services-wrapper .imgbox .box p {
  margin: 10px;
  background-color: #fff;
}

.services-wrapper .imgbox .box {
  position: relative;
  width: calc(25% - 22.5px);
}

.services-wrapper .imgbox .box:nth-child(1) {
  top: 100px;
}

.services-wrapper .imgbox .box:nth-child(4),
.services-wrapper .imgbox .box:nth-child(7) {
  top: -75px;
}

.services-wrapper .imgbox .box:nth-child(3),
.services-wrapper .imgbox .box:nth-child(6) {
  top: -15px;
}

.services-wrapper .imgbox .box:nth-child(2),
.services-wrapper .imgbox .box:nth-child(5) {
  top: 50px;
}

.services-wrapper .imgbox .box h5 {
  color: #b90470;
  font-family: "Montserrat";
  font-size: 20px;
}

/* ************************************************************************************************** */

.principle-wrapper .principle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.principle {
  margin-top: 70px;
}

.principle p {
  color: #fff;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 300;
}

.principle h5 {
  color: #fff;
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 16px;
}

.principle-wrapper-bg {
  position: relative;
  width: 100%;
}

.principle-wrapper-bg::before {
  content: "";
  position: absolute;
  background-image: url("assets/principle/principle.png");
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: -150px;
  width: 100%;
  height: 900px;
  bottom: 130px;
  z-index: -1;
}

.text-boxes {
  display: flex;
  justify-content: space-between;
}

.text-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
  width: 406px;
  height: 450px;
  padding: 80px 50px 10px 50px;
  margin-top: 70px;
  box-shadow: 0 0 10px #ddd;
}

.principle-wrapper .text-box h5 {
  color: #b90470;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
}

.principle-wrapper .text-box p {
  color: #343a3e;
  font-family: "Poppins";
  font-size: 14px;
  width: 300px;
  font-weight: 300;
}

.principle-wrapper .text-box img {
  align-self: flex-end;
  justify-self: end;
  margin-top: auto;
}

/* ************************************************************************************************** */

.our-team-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 120px;
  width: 100%;
}

.our-team-head {
  flex-direction: column;
  display: flex;
  width: 40%;
}

.our-team-wrapper .our-team-head p {
  color: #b90470;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 300;
}

.our-team-wrapper .our-team-head h5 {
  color: #343a3e;
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 600;
}

.our-team-text {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}

.our-team-wrapper .our-team-text p {
  color: #343a3e;
  font-family: "Poppins";
  font-size: 16px;
  max-width: 650px;
  padding-top: 50px;
}

.our-team-img img {
  padding-top: 80px;
  width: 100%;
}

/* ************************************************************************************************** */

.write-to-us {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 200px;
  position: relative;
}

#write {
  position: relative;
  width: 100%;
}

.write-to-us .write-to-us-head {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
}

.write-to-us .write-to-us-head p {
  color: #b90470;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 300;
}

.write-to-us .write-to-us-head h5 {
  color: #343a3e;
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 600;
}

.write-to-us .write-to-us-head .contact-text {
  color: #343a3e;
  font-family: "Poppins";
  font-size: 16px;
  max-width: 467px;
  padding-top: 20px;
}

.write-to-us .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px #ddd;
  width: 515px;
  height: 390px;
  padding-top: 20px;
  margin-top: 55px;
}

.write-to-us .contact p {
  text-align: start;
  width: 82%;
  margin-top: 30px;
}

.write-to-us .contact .contact-social {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 82%;
  height: 10%;
  padding-top: 50px;
}

main .write-to-us .contact .contact-social i {
  color: #b90470;
  font-size: 30px;
}

/* ************************************************************************** */
footer {
  position: relative;
  width: 100%;
  height: 850px;
  display: flex;
  background-color: #b90470;
  flex-direction: column;
  justify-content: space-between;
  clip-path: polygon(0 24%, 100% 2%, 100% 100%, 0% 100%);
}

.shushaBg {
  width: 100%;
  height: 400px;
  background-image: url(./assets/footer/susa.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 9;
}

footer .footer-images .footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-images .footer-info {
  margin: 200px auto 0;
  width: 1118px;
  height: 215px;
  background-color: white;
}

footer .footer-images .footer-info .footer-logo {
  display: flex;
  justify-content: flex-start;
  padding: 56px 0 136px 40px;
}

footer .footer-images .footer-info .footer-info-text,
footer .footer-images .footer-info .footer-info-social,
footer .footer-images .footer-info .footer-info-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .footer-images .footer-info .footer-info-contact {
  margin-bottom: 35px;
}

footer .footer-images .footer-info .footer-info-social i {
  font-size: 25px;
  color: #b90470;
  margin-right: 40px;
  padding-top: 20px;
}

footer .footer-down {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -1;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer .footer-down .footer-down-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

footer .footer-down .footer-down-info p{
  float: left;
}
